<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114331409461-8is403odk1lk6k3g967ngbffsvgqvuq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114331409461-8is403odk1lk6k3g967ngbffsvgqvuq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBKuf3yeOPxDicJreE3tm7rFMoERkg2LPc</string>
	<key>GCM_SENDER_ID</key>
	<string>114331409461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-d9526</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-d9526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114331409461:ios:aaa4915d3d233dff47257c</string>
</dict>
</plist>